{% load static %}

<link href="{% static 'css/custom_style/votes.css' %}" rel="stylesheet">

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2 d-flex">
                  <img src="{{ question.user.profile_image.url }}" alt="question pic" class="img-fluid">
                </div>
                {% include 'layouts/votes.html' with votes_count=question.votes_count %}
            </div>
            <div class="col-9">
                <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
                <p class="card-text">{{ question.body }}</p>
                <div class="d-flex gap-3">
                    <a href="#" class="card-link">Answers (3)</a>
                    <div> Tags:
                        {% for tag in question.tags.all %}
                            {% include 'layouts/single_tag.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


