{% extends 'layouts/base_log_in.html' %}
{% load static %}
{% block title %}
<div class="d-flex gap-3 align-items-center">
    <h1>New Question</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-9">
    <form action="#">
        <div class="mb-3 d-flex">
            <label for="title" class="form-label me-3">Title</label>
            <input type="text" class="form-control is-invalid" id="title" aria-describedby="titleHelp"
                   placeholder="Question Title" style="border-color: grey;">
        </div>
        <div class="invalid-feedback mb-3 mt-3 d-flex">Fill in the title.</div>
        <div class="mb-3 d-flex">
            <label for="text" class="form-label me-3">Text</label>
            <textarea class="w-100" id="text" style="height:100px"
                      placeholder="Provide question description. Stay specific, yet avoid being too wordy." rows="5"
                      style="outline-color: rgb(0, 255, 110);"></textarea>
        </div>
        <div class="mb-3 d-flex">
            <label for="tags" class="form-label me-3">Tags</label>
            <input type="text" class="form-control" id="tags" placeholder="Type in tags highlighting the question topic."
                   style="border-color: grey;">
        </div>
        <button type="submit" class="btn btn-primary">ASK!</button>
    </form>
</div>
{% endblock %}