{% extends 'layouts/base_log_out.html' %}
{% load static %}

{% block title %}
<div class="d-flex gap-3 align-items-center">
    <h1>Log In</h1>
</div>
{% endblock %}

{% block content %}
    <div class="col-9">
        <form class="d-flex flex-column gap-1 log_form">
            <div class="invalid-feedback" style="visibility: visible; display: block;" id="passwordFeedback">
                Invalid input! Double check password and login name.
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Login</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-2">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" style="cursor: pointer;">
                <label class="form-check-label" for="flexCheckDefault" style="cursor: pointer;">
                    Remember me
                </label>
            </div>
            <button class="btn btn-success w-100 py-1 mb-5" type="submit">Log in</button>
            <a href="{% url 'signup' %}" class="btn btn-secondary w-100 py-1">Set up new account</a>
        </form>
    </div>
{% endblock %}
