{% extends 'layouts/base_log_in.html' %}
{% load static%}
{% block title %}
{% endblock %}

{% block content %}

<div class="col-9">
    <div class="card mb-3 w-100" style="border: 0;">
        <div class="row g-0">
            <div class="col-4">
                <div class="border mb-2 d-flex">
                    <img src="{{ question.user.profile_image.url }}" class="img-fluid rounded-start" alt="question pic">
                </div>
                {% include 'layouts/votes.html' with votes_count=question.votes_count %} 
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">{{ question.title }}</h5>
                    <p class="card-text">{{ question.body }}</p>
                    <p class="card-text"> Tags:
                        {% for tag in question.tags.all %}
                            {% include 'layouts/single_tag.html' %}
                        {% endfor %}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark w-100">
        <hr class="my-0">
    </div>

    
    {% for answer in answers %}
        {% include 'layouts/single_answer.html' %}
    {% endfor %}
   

    <div class="bg-dark w-100 mt-3 mb-3">
        <hr class="my-0">
    </div>

    <div class="mb-3">
        <textarea class="form-control" placeholder="Join the discussion"
                    id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mb-5">Answer</button>

</div>
{% endblock %}