{% extends 'layouts/base_log_in.html' %}
{% load static %}

{% block title %}
<div class="d-flex gap-3 align-items-center">
    <h1>Settings: Disco Dancer</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-9">
    <div class="d-flex flex-column gap-4 mb-4">
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
                <h6>Login</h6>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="disco_dancer" />
            </div>
        </div>
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
                <h6>E-mail</h6>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="disco_dancer@mail.ru" />
            </div>
        </div>
        <div class="row d-flex-row align-items-baseline">
            <div class="col-2">
                <h6>Username</h6>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" placeholder="Disco Dancer" />
            </div>
        </div>
        <div class="row d-flex-row align-items-center">
            <div class="col-2">
                <h6>Profile Image</h6>
            </div>
            <div class="col-5">
                <div class="d-flex flex-row align-items-center">
                    <img src="{% static 'img/kopatych.jpg' %}" alt="profile pic" id="img"
                        class="img-thumbnail profile-image-upload mb-2 me-3" width="100px"/>
                    <div>
                      <label for="profile pic uploading">Change profile image</label>
                      <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row d-flex-row align-items-baseline">
        <div class="col-2">
        </div>
        <div class="col-5">
            <button type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
  </div>

{% endblock %}
