{% extends 'layouts/base_log_out.html' %}
{% load static %}

{% block title %}
<div class="d-flex gap-3 align-items-center">
    <h1>Create new account</h1>
</div>
{% endblock %}

{% block content %}
    <div class="col-9">
        <form class="d-flex flex-column gap-2">
            <div class="invalid-feedback" style="visibility: visible; display: block;" id="passwordFeedback">
                This e-mail is already in use!
            </div>
            
            <div class="d-flex flex-column mb-3 gap-2">
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name">
                    <label for="floatingInput">Login</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">E-mail</label>
                </div>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" placeholder="my name">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="password">
                    <label for="floatingPassword">Repeat password</label>
                </div>
                <div class="mb-3">
                  <label for="profile pic uploading" class="form-label">Upload profile image</label>
                  <input class="form-control" type="file" id="formFile">
                </div>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}
