{% extends 'layouts/base.html' %}
{% load static %}


    <main class="container mt-2">
      
      {% block content %}
      <div class="d-flex gap-3 align-items-center">
        <a href="{% url 'index' %}">New Questions</a>
    </div>
     

      <div class="row">
        
        <div class="col-9">
          <div class="d-flex flex-column gap-3">
            
            {% include 'layouts/question.html' %}

            <div class="card w-100" style="width: 18rem;">
              <div class="card-body">
                
                <div class="row">
                  <div class="col-3">
                    <div class="border mb-3">
                      <img src="{% static 'img/ok_answer.png' %}" alt="avatar" class="img-thumbnail" width="150">
                    </div>

                    <input class="form-control" type="number" value="5" placeholder="Default input" aria-label="default input example">
                    
                  </div>
                  <div class="col-9">
                        <h5 class="card-title"> Answer #1</h5>
                    <p class="card-text"> Here is your help ASAP. First, you do this. Second, you do that.</p>
                      
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Correct!
                        </label>
                      </div>
                 </div>

                </div>

              </div>
            </div>


            <div class="card w-100" style="width: 18rem;">
              <div class="card-body">
                
                <div class="row">
                  <div class="col-3">
                    <div class="border mb-3">
                      <img src="{% static 'img/not_okay.png' %}" alt="avatar" class="img-thumbnail" width="150">
                    </div>

                    <input class="form-control" type="number" value="5" placeholder="Default input" aria-label="default input example">
                    
                  </div>
                  <div class="col-9">
                        <h5 class="card-title">Answer #2</h5>
                    <p class="card-text"> Well, first you should do that. Then you move on to...</p>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Correct
                      </label>
                    </div>
    
                  </div>

                </div>

              </div>
            </div>




            <form class="d-flex" role="answer">
              <div class="form-group">
               
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
                <button class="btn btn-outline-success" type="submit">Answer!</button>
              </form>



          </div>

         


        </div>

        {% endblock %}
      </div>
      
    </main>

    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>